{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <!-- Navbar -->
     <nav>
        <ul>
            <li><a href="{% url 'polls:index' %}">Home</a></li>
            <li><a href="{% url 'polls:dashboard' %}">Dashboard</a></li>

            {% if user.is_authenticated %}
            <!-- Display logout if user is authenticated -->
            <li><a href="{% url 'polls:logout'}">Logout</a></li>
            {% else %}
            <!-- Display login/signin if user is not authenticated -->
            <li><a href="{% url 'polls:login' %}">Login/SignIn</a></li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>
